
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <ul>
        <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Գլխավոր</a></li>
        <li><a routerLinkActive="active" routerLink="contact">Հետադարձ Կապ</a></li>
        <li><a routerLinkActive="active" routerLink="about">Մեր Մասին</a></li>
      </ul>
    </div>
    <div class="col-sm-5 ">
      <img src="../../../assets/images/logos/logo.svg" alt="">
    </div>
  </div>
</div>

<hr>
