

<!--Footer Start -->

<div class="container-fluid" id="footer">
  <div class="row">

      <div class="col-sm-2 text-center col1">
        <a href="https://www.facebook.com/TIME.Armenia/"><i class="fab fa-facebook" ></i></a>
        <a href="https://www.instagram.com/timearmenia/"><i class="fab fa-instagram"></i></a>
      </div>

      <div class="col-sm-10">
            <div class="row">
                  <div class="col-sm-4 col2">
                    <h6 >Կապ Մեզ Հետ</h6>
                    <a href="#"><i class="fas fa-phone-volume icon.ph" ></i> +(374) 11 84 84 84</a>
                    <p><i class="fas fa-map-marker-alt"></i> ք. Երևան, Դերենիկ Դեմիրճյան 1/1</p>
                  </div>

                  <div class="col-sm-8">
                      <div class="row">
                        <h6>Բաժանորդագրվեք զեղչերի եվ հատուկ առաջարկների մասին տեղեկանալու համար։</h6>
                        <div class="col-sm-6 col2">
                            <button class="btn btn-primary"><i class="far fa-envelope"></i> Բաժանորդագրվել</button>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" (keyup.enter)="foo($event)" placeholder="Ձեր Էլ. Հասցեն">
                        </div>

                    </div>
                  </div>
            </div>
        </div>

      </div>
    </div>

<!--Footer End -->
